.header-nav {
  height: 80px;
  background: rgba(145, 213, 255, 0.82);
  .logo-header {
    position: absolute;
    width: 4%;
    height: auto;
    border-radius: 30%;
    top: 4px;
  }
  h3 {
    padding-left: 80px;
  }
}
.button_menu {
  display: none;
}
@media screen and (max-width: 600px){
  .logo-header {
    display: none;
  }
  .logo-header {
    display: none;

  }
  .header-menu  h3{
    display: none;
  }
  .menu_infor {
    position: absolute;
    right: 60px;
  }
  .button_menu {
    display: block;
  }
  
}